Options -Indexes

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ init.php [L,QSA]

#AddDefaultCharset UTF-8

#AddHandler application/x-httpd-php .php .html

#ErrorDocument 404 /error.php?err=404
#ErrorDocument 403 /error.php?err=403
#ErrorDocument 500 /error.php?err=500

#<IfModule mod_deflate.c>
#  AddOutputFilterByType DEFLATE application/javascript
#  AddOutputFilterByType DEFLATE text/javascript
#  AddOutputFilterByType DEFLATE text/css
#	AddOutputFilterByType DEFLATE text/html
#</IfModule>

#<IfModule mod_headers.c>
#  <FilesMatch .*\.(js|css)$>
#    Header set Cache-control: private
#  </FilesMatch>
#  <FilesMatch .*\.(gif|jpg|png)$>
#    Header set Cache-control: public
#  </FilesMatch>
#</IfModule>

# Перенаправление на gzip файлы
#AddEncoding gzip .gz
# <FilesMatch "\.js.gz$">
#  ForceType text/javascript  
#  Header set Content-Encoding: gzip
#</FilesMatch>

#<FilesMatch "\.js$">
#  RewriteEngine On
#  RewriteCond %{HTTP_USER_AGENT} !".*Safari.*"
#  RewriteCond %{HTTP:Accept-Encoding} gzip
#  RewriteCond %{REQUEST_FILENAME}.gz -f
#  RewriteRule (.*)\.js$ $1\.js.gz [L]
#  ForceType text/javascript
#</FilesMatch>

#<FilesMatch "\.css.gz$">
#  ForceType text/css
#  Header set Content-Encoding: gzip
#</FilesMatch>

#<FilesMatch "\.css$">
#  RewriteEngine On
#  RewriteCond %{HTTP_USER_AGENT} !".*Safari.*"
#  RewriteCond %{HTTP:Accept-Encoding} gzip
#  RewriteCond %{REQUEST_FILENAME}.gz -f
#  RewriteRule (.*)\.css$ $1\.css.gz [L]
#  ForceType text/css
#</FilesMatch>