.collapsible-header {
	cursor: default;
}
.switch label .lever {
	margin: 0 10px 0 0;
}
.switch label div {
	display: inline-block;
}
.progress {
	width: 150px;
	margin: 8px;
}
ul.collapsible {
	margin-top: 16px;
}
.container {
	max-width: 720px;
}
body {
	background-color: #FAFAFA;
}
.collapsible-body {
	background-color: #FFF;
}
.collapsible-header > .c-h-title {
    line-height: 23px;
}
#ls-b {
	height: 176px;
}
.collapsible-done {
	display: inherit;
	margin: 0 0 0 auto;
	color: green;
}
.switch {
	margin-bottom: 20px;
}
.avatar {
	margin: 0 auto;
    position: relative;
    width: 200px;
    height: 200px;
}
.avatar .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.avatar:hover .after {
    display: block;
    background: rgba(0, 0, 0, .5);
}
