.collapsible-header {
	cursor: default;
}
.switch label .lever {
	margin: 0 10px 0 0;
}
.switch label div {
	display: inline-block;
}
.progress {
	width: 150px;
	margin: 8px;
}
ul.collapsible {
	margin-top: 16px;
}
.container {
	max-width: 720px;
}
body {
	background-color: #FAFAFA;
}
.collapsible-body {
	background-color: #FFF;
}
.collapsible-header > .c-h-title {
    line-height: 23px;
}
#ls-b {
	height: 176px;
}
.collapsible-done {
	display: inherit;
	margin: 0 0 0 auto;
	color: green;
}
